! special
*.foreground:   #ffdddd
*.background:   #392525
*.cursorColor:  #ffdddd

! black
*.color0:       #392525
*.color8:       #947777

! red
*.color1:       #ff5555
*.color9:       #ff5555

! green
*.color2:       #bdbd34
*.color10:      #bdbd34

! yellow
*.color3:       #e38827
*.color11:      #e38827

! blue
*.color4:       #b0bee3
*.color12:      #b0bee3

! magenta
*.color5:       #ff4d91
*.color13:      #ff4d91

! cyan
*.color6:       #86dfbf
*.color14:      #86dfbf

! white
*.color7:       #caaaaa
*.color15:      #ffdddd
